<mat-toolbar color="primary">
  <a mat-button routerLink="/networking/profile">{{ title }}</a>
  <span class="spacer"></span>
  <nav>
    <ng-container *ngFor="let link of navLinks">
      <ng-container *ngIf="link.children;">
        <mat-menu #menu="matMenu">
          <button *ngFor="let child of link.children" mat-menu-item [routerLink]="child.path">
            {{ child.label }}
          </button>
        </mat-menu>
        <button mat-button [matMenuTriggerFor]="menu">
          <mat-icon>{{ link.icon }}</mat-icon> {{ link.label }}
        </button>
      </ng-container>
    </ng-container>
  </nav>
</mat-toolbar>

<main>
  <router-outlet></router-outlet>
</main>
